.Modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s linear;
}

.Modal.active {
  pointer-events: all;
  opacity: 1;
}

.Modal-content {
  background-color: #fff;
  transform: scale(0.8);
  transition: 0.1s linear;
  width: 960px;
}

.Modal-content.active {
  transform: scale(1);
}
